* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(245, 241, 236);
}
.heading {
  color: blueviolet;
  margin-top: 3rem;
}
.description {
  margin-top: 3rem;
  font-family: "Dongle", sans-serif;
}
.leftMargin {
  margin-left: 1rem;
}
.rightMargin {
  margin-right: 1rem;
}
.topMargin {
  margin-top: 1rem;
}
.btn-info {
  color: white !important;
  background-color: blueviolet !important;
  border: none !important;
  border-color: blueviolet !important;
  outline: none !important;
}
.sketchContainer {
  border: 1px solid;
  height: 40vh;
  background-color: white;
}
.iconSize {
  font-size: 1.5rem;
  cursor: pointer;
}
.imgFit {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
a {
  color: black;
}
.typewriter {
  margin-top: 5rem;
  font-size: 4rem;
  font-family: "Dongle", sans-serif;
}